@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-background: #000000;
  --color-secondary-background: #121212;
  --color-hover: #181818;
}

@layer base {
  body {
     background-color: var(--color-background);
     color: #ffffff;
  }
}